.newBusinessContainer {
  padding-top: 100px;
}
.newBusinessForm {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono";
}
.newBusinessButton {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.createBusiness-button {
  width: 200px;
}
