.mainContainer {
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputAndButton {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0px 20px 0px 20px;
}
.searchButton {
  width: 200px;
  /* background-color: #141313; */
}
.showBusinessAndMap {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: 48% 4% 48%;
  padding-top: 50px;
  /* grid-gap: 30px; */
}
.showBusiness {
  grid-column: 0 / 1;
}
.showMap {
  grid-column: 3 / 4;
  border-radius: 3px;
  /* perspective: 1px; */
  overflow: hidden;
}
