.mainContainer {
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchContainer {
  /* padding-top: 20px; */
  display: flex;
  justify-content: center;
}
.inputAndButton {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0px 20px 0px 20px;
}
.searchButton {
  width: 200px;
  /* background-color: #141313; */
}
.showBusinessAndMap {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 30px;
}
